{% extends "base.html" %}
{% block title %}Exam Saved{% endblock %}

{% block main_content %}
<div class="card-container">
  <div class="card-custom text-center">

    <h2>Exam Saved</h2>
    <p>Your exam has been saved successfully!</p>

    <div style="font-size: 70px; margin: 20px 0;">✅</div>

    <a href="/" class="btn btn-secondary">Home</a>
    <a href="{{ url_for('examBp.preview_exam_ui', exam_id=exam_id) }}"
       class="btn btn-primary ms-2">View Exam</a>

  </div>
</div>
{% endblock %}
