{% extends "base.html" %}
{% block title %}Availability{% endblock %}

{% block main_content %}
<div class="overlay-card-container">
  <div class="overlay-card">

    <h3 class="text-center">Exam Availability</h3>

    <form method="POST">

      <div class="mb-3 text-center">
        <label><strong>Opens At:</strong></label>
        <input type="datetime-local" name="opens_at"
               class="form-control text-center"
               style="max-width:250px; margin:auto;"
               value="{{ exam['opens_at'] }}">
      </div>

      <div class="mb-4 text-center">
        <label><strong>Closes At:</strong></label>
        <input type="datetime-local" name="closes_at"
               class="form-control text-center"
               style="max-width:250px; margin:auto;"
               value="{{ exam['closes_at'] }}">
      </div>

      <div class="text-center">
        <button class="btn btn-primary">Save</button>
        <a href="{{ url_for('examBp.edit_exam_ui', exam_id=exam_id) }}"
           class="btn btn-secondary ms-2">Back</a>
      </div>

    </form>

  </div>
</div>
{% endblock %}
