{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{%block title%}Exam Initialization{%endblock%}

{%block main_content%}
<div class="card-container">
    <div class="card">
        <h1>{{ exam.title }}</h1>
        <h4>
            Instructor: <p>{{ instructor_name }}</p><br>
            Time Limit: <p>X minutes</p><br>
            Security Settings:<br>
            <p>
            {% if exam.security_settings.shuffle %}
                - Randomized question order<br>
            {% endif %}
            {% if exam.security_settings.single_session %}
                - Single session only<br>
            {% endif %}
            {% if exam.security_settings.no_tab_switching %}
                - No tab switching allowed<br>
            {% endif %}
            </p>
        </h4>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            {% if exam.security_settings.password != '' %}
                {{ form.password }}<br>
            {% endif %}
            {% if form.password.errors %}
                <div class="alert alert-warning alert-dismissable" id="auto-fade-alert">
                    <strong>Wrong password</strong>
                </div>

                <script>
                    setTimeout(function() {
                        let alertBox = document.getElementById("auto-fade-alert");
                        if (alertBox) {
                            alertBox.style.transition = "opacity 1s ease";
                            alertBox.style.opacity = "0";
                            setTimeout(() => alertBox.remove(), 1000);
                        }
                    }, 2500);
                </script>
            {% endif %}
            {{ form.submit(class="btn btn-primary") }}
            <a href="{{ url_for('takeExamBp.exam_search') }}" class="btn btn-danger">Cancel</a>
        </form>
    </div>
</div>
{%endblock%}
