{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{%block title%}Exam Search{%endblock%}

{%block main_content%}
<div class="card-container">
    <div class="card">
        <h1>Exam Search</h1>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            {{ form.examID }}
            {% if form.examID.errors %}
                <div class="alert alert-warning alert-dismissable" id="auto-fade-alert">
                    <strong>Exam not found</strong>
                </div>

                <script>
                    setTimeout(function() {
                        let alertBox = document.getElementById("auto-fade-alert");
                        if (alertBox) {
                            alertBox.style.transition = "opacity 1s ease";
                            alertBox.style.opacity = "0";
                            setTimeout(() => alertBox.remove(), 1000);
                        }
                    }, 2500);
                </script>
            {% endif %}
            {{ form.submit(class="btn btn-primary") }}
            <a href="{{ url_for('dashboard') }}" class="btn btn-secondary">Go Back</a>
        </form>
    </div>
</div>
{%endblock%}
